.section--about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.section--tools {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-top: 50px;
}

.tags-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.tags-list span {
    white-space: nowrap;
}