.section--contact {
    width: 333px;
    height: 518px;
    padding: 20px;
}

.contact-content {
    background: var(--color-bg-alt);
    border-radius: 8px;
    overflow: hidden;
    padding: 25px;
    max-width: 100%;
    margin-top: 20px;
}

.contact-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contact-content form {
    flex: 1;
    color: var(--color-text);
}

.contact-title {
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 10px;

    width: 100%;
    max-width: 100%;

    white-space: normal;
    word-break: break-word;
    overflow-wrap: break-word;
}

.contact-content .desc{
    text-align: start !important;
    margin-bottom: 20px !important;
}

.contact-desc {
    color: var(--color-text);
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 60px;
}

.contact-content .icon{
    margin: 20px !important;
}
.contact-content a{
    color: var(--color-text) !important;
}

#contactForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input,
textarea {
    margin: 0;
    padding: 20px 25px;
    width: 100%;
    font-size: 14px;
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
    color: var(--color-text) !important; 
    background-color: var(--color-bg-ipt);
    font-family: 'Poppins', sans-serif;
}

::placeholder {
    color: var(--color-text-alt);
    opacity: 1; /* importante p/ Firefox */
}

input:focus,
textarea:focus {
    outline: none;
}

#contactForm .btn {
    width: 100%;
}

#message-popup {
    position: fixed;
    top: 40px;
    right: 20px;
    z-index: 9999;
}

#message-popup .popup {
    background-color: var(--color-bg-alt);
    color: var(--color-text-bt);
    padding: 12px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    opacity: 1;
    transition: opacity 0.5s, transform 0.5s;
    font-size: 14px;
}

#message-popup .popup.success {
    background-color: #218838;
}

#message-popup .popup.error {
    background-color: #c82333;
}