.section--contact {
    width: 333px;
    height: 518px;
    padding: 20px;
}

.contact-content {
    background: var(--color-bg-alt);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    gap: 150px;
    padding: 50px;
    max-width: 100%;
}

.contact-info {
    flex: 1;
    color: var(--color-text-pr);
    margin: 0 auto;
}

.contact-content form {
    flex: 1;
    color: var(--color-text);
}

.contact-title {
    font-size: 30px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 10px;
}

.contact-desc {
    color: var(--color-text);
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 60px;
}

.contact-links {
    color: var(--color-text);
    font-weight: 400;
    font-size: 18px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-links p {
    margin: 0;
}

.contact-links a {
    color: var(--color-text);
    text-decoration: none;
    cursor: pointer;
}

.contact-links a:hover {
    color: var(--color-primary);
    transition: color 0.3s;
}

.contact-links i {
    color: var(--color-text-pr) !important;
    font-size: 30px;
    margin-right: 16px;
    vertical-align: middle;
    color: inherit;
}

#contactForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input,
textarea {
    margin: 0;
    padding: 20px 25px;
    width: 100%;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
    color: var(--color-text-alt);
    background-color: var(--color-bg-ipt);
    font-family: 'Poppins', sans-serif;
}

input:focus,
textarea:focus {
    outline: none;
}

#contactForm button {
    display: flex;
    margin-left: auto;
}

#message-popup {
    position: fixed;
    top: 40px;
    right: 20px;
    z-index: 9999;
}

#message-popup .popup {
    background-color: var(--color-bg-alt);
    color: var(--color-text);
    padding: 12px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    opacity: 1;
    transition: opacity 0.5s, transform 0.5s;
    font-size: 14px;
}

#message-popup .popup.success {
    background-color: #218838;
}

#message-popup .popup.error {
    background-color: #c82333;
}