{% extends "components/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

<div class="container">
    <section>
        <h1>
            <span class="pre-title">./</span>
            <span class="title-text">Contato</span>
        </h1>
    </section>
    <section>
        <h2>Ficou interessando(a) no meu trabalho?</h2>
        <p>Entre em contato para discutir como posso ajudar a transformar seus processos!</p>
        <div>
            <p><a href="https://www.linkedin.com/in/devgabriellimaruas/" target="_blank"><i class="fab fa-linkedin"></i>
                    https://www.linkedin.com/in/devgabriellimaruas/</a></p>
            <p><a href="https://github.com/devgabriellimaruas" target="_blank"><i class="fab fa-github"></i>
                    https://github.com/devgabriellimaruas</a></p>
            <p><i class="fas fa-envelope"></i> limaruasgabriel@gmail.com</p>
        </div>
    </section>
    <section>
        <form method="POST" action="/contact" id="contactForm">
            <label for="name">Nome:</label>
            <input type="text" id="name" name="name" required><br><br>

            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" required><br><br>

            <label for="message">Mensagem:</label>
            <textarea id="message" name="message" rows="4" cols="50" required></textarea><br><br>

            <button type="submit" id="submitBtn">Enviar</button>
        </form>

        <script>
            const form = document.getElementById('contactForm');
            const submitBtn = document.getElementById('submitBtn');

            form.addEventListener('submit', function (event) {
                // Evita envio imediato
                event.preventDefault();

                // Muda o texto e desabilita o botão
                submitBtn.textContent = 'Enviando...';
                submitBtn.disabled = true;

                // Submete o formulário após atualizar o botão
                form.submit();
            });
        </script>
    </section>
</div>
{% endblock %}