{% load static %}
<!DOCTYPE html>
<html lang="pt-br" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Dev Gabriel Lima{% endblock %}</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />

    <script
      src="https://kit.fontawesome.com/153f3b0de5.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />

    {% block extra_css %}{% endblock %}
  </head>

  <body class="{% block body_class %}{% endblock %}">
    <div class="blur-background">
      <div class="blur-ball ball1"></div>
      <div class="blur-ball ball2"></div>
      <div class="blur-ball ball3"></div>
    </div>

    <nav>
      <button class="menu-toggle" id="menu-toggle" aria-label="Abrir menu">
        <span class="material-symbols-outlined">menu</span>
      </button>

      <div class="nav-menu" id="nav-menu">
        <a
          href="{% url 'home' %}"
          class="nav-link {% if request.path == '/' %}active{% endif %}"
          >Início</a
        >
        <a
          href="{% url 'about' %}"
          class="nav-link {% if '/about/' in request.path %}active{% endif %}"
          >Sobre Mim</a
        >
        <a
          href="{% url 'skills' %}"
          class="nav-link {% if '/skills/' in request.path %}active{% endif %}"
          >Habilidades</a
        >
        <a
          href="{% url 'projects' %}"
          class="nav-link {% if '/projects/' in request.path %}active{% endif %}"
          >Projetos</a
        >
        <a
          href="{% url 'contact' %}"
          class="nav-link {% if '/contact/' in request.path %}active{% endif %}"
          >Contato</a
        >

        <a href="#" id="theme-toggle" class="nav-link">
          <i class="fa-solid fa-moon"></i>
        </a>
      </div>
    </nav>

    {% block content %}{% endblock %} {% block extra_scripts %}
    <script src="{% static 'js/theme_toggle.js' %}"></script>
    {% endblock %}
  </body>
</html>
