{% extends "components/base.html" %}
{% load static %}

{% block body_class %}contacts{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

<div class="container">

    {% if messages %}
    <div id="message-popup">
        {% for message in messages %}
        <div class="popup {{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="header">
        {% include "components/title.html" with title="Contato" %}
    </div>
    <div class="contacts-content">
        <div class="contacts-info">
            <p class="contacts-title">Ficou interessando(a) no meu trabalho?</p>
            <p class="contacts-desc">Entre em contato para discutir como posso ajudar a transformar seus processos!</p>
            <div class="contacts-links">
                <p><a href="https://www.linkedin.com/in/devgabriellimaruas/" target="_blank"><i
                            class="fab fa-linkedin"></i>linkedin.com/in/devgabriellimaruas</a></p>
                <p><a href="https://github.com/devgabriellimaruas" target="_blank"><i
                            class="fab fa-github"></i>github.com/devgabriellimaruas</a></p>
                <p><i class="fas fa-envelope"></i>limaruasgabriel@gmail.com</p>
            </div>
        </div>
        <form method="POST" action="{% url 'contacts' %}" id="contactsForm">
            {% csrf_token %}
            <input type="text" id="name" name="name" placeholder="Nome completo" required>
            <input type="email" id="email" name="email" placeholder="Seu melhor e-mail" required>
            <textarea id="message" name="message" rows="4" cols="50" placeholder="Mensagem" required></textarea>
            <button class="button" type="submit" id="submitBtn">Enviar mensagem</button>
        </form>
    </div>
</div>
{% include "components/footer.html" %}
{% endblock %}

{% block extra_scripts %}
{{ block.super }}
<script src="{% static 'js/send_email.js' %}"></script>
<script src="{% static 'js/notify_contact.js' %}"></script>
{% endblock %}