.about-content {
    display: flex;
}

.about,
.tools {
    max-width: auto;
    color: var(--color-text-primary);
    max-width: 500px;
}

.about {
    margin-right: 75px;
}

.tools {
    margin-left: 75px;
}

.desc {
    font-size: 18px;
    color: var(--color-text-primary);
    font-weight: 400;
}

.desc-sb {
    font-size: 18px;
    color: var(--color-text-primary);
    font-weight: 600;
}

.tools-tags {
    display: inline-block;
    font-size: 16px;
    padding: 6px 22px;
    margin: 0px 20px 18px 0px;
    border-radius: var(--radius-base);
    font-weight: 400;
    border: 1.5px solid var(--color-primary);
}

.about a{
    margin-top: 30px;
}

.tools-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.tool-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.tools-list {
    list-style: none;
    /* remove os bullets */
    padding: 0;
    margin-top: 30px;
    max-width: 100%;
    background-color: var(--color-tertiary);
    border-radius: 8px;
    padding: 10px 15px;
}

.tools-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    font-size: 16px;
    transition: background-color 0.2s ease;
    color: var(--color-text-primary);
}

.tools-list a {
    padding: 5px 10px;
    font-size: 14px;
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}