.skills {
    max-width: auto;
    flex-direction: column;
}

.cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.card {
    border-radius: 8px;
    max-width: 330px;
}

.card-title {
    margin: 20px 0 10px;
    font-size: 24px;
    font-weight: 600;
    color: var(--color-text);
}

.material-symbols-outlined {
    font-size: 50px !important;
    color: var(--color-primary);
    display: flex;
    margin: 0;
    font-weight: 1000 !important;
}