:root {
    /* Palette */
    --color-primary: #54199B;
    --color-secondary: #1A131F;
    --color-tertiary: rgba(245, 245, 245, 0.1);
    /* #F5F5F5 10% */
    --color-text-primary: #F5F5F5;
    --color-text-secondary: #D3D3D3;
    --color-text-tertiary: rgba(245, 245, 245, 0.8);
    /* #F5F5F5 80% */
    --color-text-quaternary: rgba(245, 245, 245, 0.3);
    /* #F5F5F5 30% */
    --color-text-quinary: rgba(211, 211, 211, 0.7);
    ;
    /* #D3D3D3 70% */

    /* Typography */
    --font-family-base: 'Poppins', sans-serif;
    --font-size-base: 16px;

    /* Spacing */
    --spacing-base: 16px;

    /* Borders */
    --radius-base: 8px;
    --radius-min: 4px;
}

/* font-weight: 400; Regular */
/* font-weight: 500; Medium */
/* font-weight: 600; Semi-bold */
/* font-weight: 700; Bold */

/* GENERAL */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    scrollbar-gutter: stable;
}

body {
    background-color: var(--color-secondary);
    font-family: var(--font-family-base) !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 18px;
    color: var(--color-text-primary);
}

.container {
    flex-direction: row;
    flex: 1;
    margin: 0 auto;
    /* centraliza horizontalmente */
    width: 100%;
    max-width: 1200px;
    /* largura máxima para desktop */
    justify-content: left;
}

h1 {
    margin: 0;
}

.title {
    margin-top: 60px;
    margin-bottom: 40px;
}

.pre-title {
    font-weight: 700;
    color: var(--color-primary);
}

.title-text {
    font-weight: 500;
    color: var(--color-text-primary);
}

/* tamanhos */
.title.large .pre-title,
.title.large .title-text {
    font-size: 38px;  /* tamanho máximo */
}

.title.small .pre-title,
.title.small .title-text {
    font-size: 24px;  /* tamanho menor */
}


.button,
.button-back {
    display: inline-block;
    padding: 16px 32px;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-primary);
    text-decoration: none;
    border-radius: var(--radius-base);
    cursor: pointer;
    transition: background 0.3s, color 0.3s, font-weight 0.3s;
    border: none;
    margin-left: 0;
}

.button {
    background-color: var(--color-primary);
}

.button-back {
    background-color: var(--color-tertiary);
    margin-left: 20px;
}

.button:hover,
.button-back:hover {
    background-color: var(--color-text-primary);
    color: var(--color-primary);
}


/* BASE STYLES */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background: transparent;
    padding: 40px 0;    
}

.nav-link.active {
    color: var(--color-primary);
}

.perfil {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.nav-link {
    color: var(--color-text-primary);
    font-size: var(--font-size-base);
    text-decoration: none;
}

.nav-link:hover {
    color: var(--color-primary);
    transition: color 0.3s;
}

/* Ícones dentro da tabela */
td a i {
    color: var(--color-primary); /* ou qualquer cor, ex: red */
    font-size: 18px; /* opcional, para ajustar o tamanho */
    transition: color 0.3s; /* efeito suave ao passar o mouse */
}

/* Cor diferente ao passar o mouse */
td a:hover i {
    color: var(--color-text-primary); /* cor de hover */
}
