{% extends "components/base.html" %} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'css/pages/projects.css' %}" />
{% endblock %} {% block body_class %}projects{% endblock %} {% block content %}
<div class="container">
  <div class="projects">
    {% include "components/subtitle.html" with title=current_project.name %}

    <div class="view-media">
      {% if current_project.video %}
      <video class="view-video" id="video" width="100%" height="700" controls>
        <source src="{{ current_project.video.url }}" type="video/mp4" />
        Seu navegador não suporta a tag de vídeo.
      </video>
      {% else %}
      <img class="view-video" id="thumbnail" src="{{ current_project.thumbnail.url }}"
        alt="{{ current_project.name }}" />
      {% endif %}
    </div>

    <div class="project-tools">
      {% for tag in tools_list|slice:":6" %}
      <span class="project-tag">{{ tag }}</span>
      {% endfor %}
    </div>

    <p class="view-desc">{{ current_project.description }}</p>

    <div class="view-buttons">
      {% if current_project.link_project %}
      <a href="{{ current_project.link_project }}" target="_blank" class="btn">
        Ver projeto
      </a>
      {% endif %}

      <a type="button" onclick="history.back()" class="btn-back">
        Voltar
      </a>
    </div>
    <div class="projects-header">
      {% include "components/subtitle.html" with title="Outros Projetos" size_class="small"%}
    </div>

    {% if projects %}
    <div class="projects-grid">
      {% for project in projects %}
      <a href="{% url 'view_project' project.id %}" class="project-card">
        {% if project.thumbnail %}
        <img class="project-image" src="{{ project.thumbnail.url }}" alt="{{ project.name }}" />
        {% else %}
        <p>Thumbnail não disponível</p>
        {% endif %}

        <div class="card-content">
          <div class="project-name">
            <span>{{ project.name }}</span>
          </div>
          <p class="description">{{ project.description|truncatechars:110 }}</p>
          <div class="project-tools">
            {% for tag in tools_list|slice:":6" %}
            <span class="project-tag">{{ tag }}</span>
            {% endfor %}
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
    {% else %}
    <p class="not-found">
      Nenhum projeto por aqui ainda<br />
      Mas calma, coisas boas estão a caminho!
    </p>
    {% endif %}
  </div>
</div>

{% endblock %}