{% extends "components/base.html" %}
{% load static %}

{% block content %}

<div class="container">
  <h1>
    <span class="pre-title">./</span>
    <span class="title-text">Adicionar Projeto</span>
  </h1>

  <form id="project-form" class="add-project-form" action="{% url 'post_project' %}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <label class="form-label" for="name">Nome do Projeto:</label>
  <input type="text" id="name" name="name" value="Meu Projeto Padrão" required><br><br>


  <label class="form-label" for="description">Descrição:</label>
  <textarea id="description" name="description" rows="4" cols="50" required>Desenvolvimento de CRUD para banco de dados e integração de automações com scheduler.</textarea><br><br>

  <label class="form-label" for="type">Tipo:</label>
  <select id="type" name="type" required>
    <option value="">Selecione o tipo</option>
    <option value="Destaques" selected>Destaques</option>
    <option value="RPA">RPA</option>
    <option value="Dados">Dados</option>
    <option value="No/Low Code">No/Low Code</option>
  </select><br><br>

  <label class="form-label" for="thumbnail">Thumbnail do Projeto:</label>
  <input type="file" id="thumbnail" name="thumbnail" required><br><br>

  <label class="form-label" for="video">Video do Projeto:</label>
  <input type="file" id="video" name="video"><br><br>

  <label class="form-label">Tags:</label>
  <div class="tags-checkboxes">
    {% for tool in tools %}
    <label>
      <input type="checkbox" name="tags" value="{{ tool.name }}" class="tag-checkbox" checked>
      {{ tool.name }}
    </label>
    {% endfor %}
  </div>

  <label class="form-label" for="link_project">Link do Projeto:</label>
  <input type="text" id="link_project" name="link_project"><br><br>

  <button type="submit" class="button">Adicionar Projeto</button>
</form>

</div>
{% endblock %}


<script>
      const checkboxes = document.querySelectorAll('.tag-checkbox');
      const display = document.getElementById('selected-tags');

      function updateSelected() {
        const selected = Array.from(checkboxes)
          .filter(cb => cb.checked)
          .map(cb => cb.value);
        display.textContent = selected.length ? 'Selecionados: ' + selected.join(', ') : 'Selecionados: Nenhum';
      }

      checkboxes.forEach(cb => cb.addEventListener('change', updateSelected));
      updateSelected(); // inicializa no carregamento
    </script>