{% extends "components/base.html" %}
{% load static %}

{% block content %}

<div class="container">
  <div class="projects">
    <div class="projects-header">
      <h1>
        <span class="pre-title">./</span>
        <span class="title-text">Projetos</span>
      </h1>

      <div class="filter-projects">
        <a href="{% url 'post_project' %}" class="add-btn">Adicionar Projeto</a>
        <span>Exibir:</span>

        {% for filter in filters_list %}
        <label class="btn-toggle_project {% if filter_type == filter %}active{% endif %}" data-type="{{ filter }}"
          style="display: inline-flex; align-items: center;">
          {% if filter == "Destaques" %}
          <svg width="14" height="14" viewBox="0 0 24 24" fill="currentColor" style="margin-right: 4px;">
            <path
              d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z" />
          </svg>
          {% endif %}
          {{ filter }}
        </label>
        {% endfor %}

        <script>
          const buttons = document.querySelectorAll('.btn-toggle_project');

          buttons.forEach(button => {
            button.addEventListener('click', () => {
              const type = button.dataset.type;
              const url = new URL(window.location.href);

              const current = url.searchParams.get('type');

              if (current === type) {
                url.searchParams.delete('type');
              } else {
                url.searchParams.set('type', type);
              }

              window.location.href = url.toString();
            });
          });
        </script>

      </div>
    </div>

    {% if projects %}
    <div class="projects-grid">
      {% for project in projects %}
      <div class="project-card">
        <!-- Imagem do projeto -->
        {% if project.thumbnail %}
        <img class="project-image" id="thumbnail" src="{{ project.thumbnail.url }}" alt="{{ project.name }}">
        {% else %}
        <p>Thumbnail não disponível</p>
        {% endif %}

        <!-- Conteúdo do card -->
        <div class="card-content">
          <div class="project-name">
            <h3>{{ project.name }}</h3>
            <div style="display: flex; flex-direction: row; gap: 10px; align-items: center;">
              <form action="{% url 'view_project' project.id %}" method="GET">
                <button type="submit" class="circle-btn">
                  <img src="{% static 'images/seta.svg' %}" alt="Seta para a direita">
                </button>
              </form>

              <form action="{% url 'delete_project' project.id %}" method="DELETE">
                {% csrf_token %}
                <button type="submit" class="circle-btn"
                  onclick="return confirm('Tem certeza que deseja excluir este projeto?');">
                  <!-- Ícone de lixeira SVG -->
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" viewBox="0 0 24 24">
                    <path d="M3 6h18v2H3V6zm2 3h14l-1.5 12h-11L5 9zm5 2v8h2v-8H10zm4 0v8h2v-8h-2z" />
                  </svg>
                </button>
              </form>
            </div>
          </div>

          <p class="description">{{ project.description|truncatechars:110 }}</p>

          <div class="project-tags">
            {% for tag in project.tags_list %}
            <span class="project-tag">{{ tag }}</span>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <p class="not-found">😎 Nenhum projeto por aqui ainda<br>Mas calma, boas coisas estão a caminho!</p>
    {% endif %}
  </div>
</div>

{% endblock %}