{% extends "components/base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <div class="projects">
        <div class="projects-header">
            <h1>
                <span class="pre-title">./</span>
                <span class="title-text">{{project.name}}</span>
            </h1>
        </div>

        <div>
            {% if project.video %}
            <video class="view-video" id="video" width="100%" height="700" controls>
                <source src="{{ project.video.url }}" type="video/mp4">
                Seu navegador não suporta a tag de vídeo.
            </video>
            {% else %}
            <img class="view-video" id="thumbnail" src="{{ project.thumbnail.url }}" alt="{{ project.name }}">
            {% endif %}
        </div>

        <div class="view-tags">
            {% for tag in tags_list %}
            <span class="view-tag">{{ tag }}</span>
            {% endfor %}
        </div>

        <p class="description">{{ project.description }}</p>

        <div>
            <a href={{project.link_project}} target="_blank" class="button">
                Ver projeto
            </a>
            <a type="button" onclick="history.back()" class="button-back">
                Voltar
            </a>
        </div>

        <div class="projects-header">
            <h1>
                <span class="pre-title">./</span>
                <span class="title-text">Outros Projetos</span>
            </h1>
        </div>

        {% if projects %}
        <div class="projects-grid">
            {% for project in projects %}
            <div class="project-card">
                <!-- Imagem do projeto -->
                {% if project.thumbnail %}
                <img class="project-image" id="thumbnail" src="{{ project.thumbnail.url }}" alt="{{ project.name }}">
                {% else %}
                <p>Thumbnail não disponível</p>
                {% endif %}

                <!-- Conteúdo do card -->
                <div class="card-content">
                    <div class="project-name">
                        <h3>{{ project.name }}</h3>
                        <div style="display: flex; flex-direction: row; gap: 10px; align-items: center;">
                            <form action="{% url 'view_project' project.id %}" method="GET">
                                <button type="submit" class="circle-btn">
                                    <img src="{% static 'images/seta.svg' %}" alt="Seta para a direita">
                                </button>
                            </form>

                            <form action="{% url 'delete_project' project.id %}" method="DELETE">
                                {% csrf_token %}
                                <button type="submit" class="circle-btn"
                                    onclick="return confirm('Tem certeza que deseja excluir este projeto?');">
                                    <!-- Ícone de lixeira SVG -->
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white"
                                        viewBox="0 0 24 24">
                                        <path
                                            d="M3 6h18v2H3V6zm2 3h14l-1.5 12h-11L5 9zm5 2v8h2v-8H10zm4 0v8h2v-8h-2z" />
                                    </svg>
                                </button>
                            </form>
                        </div>
                    </div>

                    <p class="description">{{ project.description|truncatechars:110 }}</p>

                    <div class="project-tags">
                        {% for tag in project.tags_list %}
                        <span class="project-tag">{{ tag }}</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p class="not-found">😎 Nenhum projeto por aqui ainda<br>Mas calma, boas coisas estão a caminho!</p>
        {% endif %}
    </div>
</div>

{% endblock %}