{% extends "components/base.html" %}
{% load static %}

{% block body_class %}about{% endblock %}

{% block content %}
<div class="container">
    <div class="about-content">
        <div class="about-me">
            {% include "components/title.html" with title="Sobre Mim" %}

            <p>
                <span class="desc">
                    Olá, eu sou <span class="highlight">Gabriel Lima</span>,
                    desenvolvedor de automações dedicado a criar soluções que simplificam processos e resolvem desafios do dia a dia. Busco aplicar <span class="highlight">tecnologia e criatividade</span> para otimizar tarefas e gerar impacto real.
                </span>
                <br><br>
                <span class="desc">
                    Tenho experiência em projetos variados de automação, envolvendo
                    <span class="highlight">tarefas repetitivas, manipulação de dados e integração entre
                        sistemas</span>. Meu objetivo é entregar automações que
                    <span class="highlight">economizem tempo, reduzam falhas</span> e se adaptem às necessidades de cada
                    negócio, proporcionando <span class="highlight">eficiência</span> e resultados concretos.
                </span>
            </p>

            <a href="{% static 'docs/GabrielLima-Curriculo.pdf' %}" download class="button">
                Download CV
            </a>
        </div>
        <div class="tools">
            {% include "components/title.html" with title="Ferramentas" %}

            {% for tool in tools %}
            <span class="tools-tags">{{ tool.name }}</span>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}